
img{
  width: 400px;
  object-fit: center;
  border-radius: 200px;
  border: 6px solid white;
  transition: all;
  text-align: center;
  }


.container{
  height:100vh;
  text-align: center;
  font-family: Cambria;
  background:linear-gradient(
    to bottom,
  rgb(247, 241, 241) 0%,
  rgb(247, 241, 241) 50%,
  white 50%,
  white 100%
    );
