body {
  background-color: aliceblue;
  color: #2a2929;
}

.container {
  padding: 100px;
}

.title {
  font-size: 50px;
  color: rgb(43, 43, 43);
}

.desc-content {
  width: 30em;
}

.form-label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.todo-input {
  outline: none;
  width: 50%;
  height: 30px;
  transition: 00.1ms;
  border-color: darkgray;
  box-shadow: none;
  padding-left: 10px;
}

.todo-input:focus{
  width: 70%;
  transition: 0.1ms;
  border-color: darkgray !important;
}