
img{
  width: 400px;
  object-fit: center;
  border-radius: 200px;
  border: 6px solid white;
  transition: all;
  }


.container{
  height:90vh;
  text-align: center;
  font-family: Cambria;
  background:linear-gradient(
    to bottom,
  rgb(247, 241, 241) 0%,
  rgb(247, 241, 241) 50%,
  white 50%,
  white 100%
    );
  }
  
  .links{
    text-align: center;
    font-family: Cambria;
  }

  .links a:hover{
    color: brown;
  }
